.code {
  background-color: #fff;
  border-radius: 14px;
  padding: 16px;
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: space-between;
}
.counter {
  display: flex;
  align-items: center;
}
.provider {
  display: flex;
}
.icon {
  width: 40px;
  height: 40px;
  margin-right: 9px;
}
.email {
  font-size: 14px;
  color: #919baf;
}
h3 {
  font-size: 14px;
  margin: 0;
}
.key {
  margin-top: 8px;
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 0px;
  line-height: 36px;
  color: #327bf2;
}
.counter {
  fill: none;
  width: 48px;
  height: 48px;
  position: relative;
}
.outer {
  stroke-width: 5;
  stroke: #d1e0ff;
  transition: stroke 0.3s linear;
}
.inner {
  stroke-width: 5;
  stroke: #2970ff;
  stroke-linecap: round;
  transform: rotate(-90deg);
  transition:
    stroke 0.3s linear,
    stroke-dasharray 0.3s linear;
  transform-origin: center;
}
